.bouton {
	position: absolute;
	top: 86%;
	left: 45%;
}
	
	
.carte_haut {
	position: absolute;
	top: 40%;
	left: 38%;
}
	
	
.carte_bas {
	position: absolute;
	top:60%;
	left: 38%;
}
	
			
.table {
	position: absolute;
	top: 20%;
	left: 6%;
}
	
.titre {
	position: absolute;
	top: 15%;
	left: 46%;
}

.banque {
	position: absolute;
	top: 30%;
	left: 45%;
}

.joueur {
	position: absolute;
	top:55%;
	left: 48%;
}

.annonce {
	position: absolute;
	top: 88%;
	left: 45%;
}