.bouton {
	position: absolute;
	top: 82%;
	left: 750px;
}
	
	
.carte_haut {
	position: absolute;
	top: 40%;
	left: 48%;
}
	
	
.carte_bas {
	position: absolute;
	top:60%;
	left:48%;
}
	
			
.table {
	position: absolute;
	top: 20%;
	left: 22%;
}
	
.titre {
	position: absolute;
	top: 100px;
	left: 790px;
}

.banque {
	position: absolute;
	top: 30%;
	left: 45%;
}

.joueur {
	position: absolute;
	top:55%;
	left: 48%;
}

.annonce {
	position: absolute;
	top: 85%;
	left: 45%;
}